 <section class="breadcrumb-section set-bg" data-setbg="/sellerRole/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Chi tiết đơn hàng</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        
                        <table>
                            <thead>
                                <tr>
                                    <th>Hình Ảnh</th>
                                    <th style="width: calc(100% / 3);">Tên sản phẩm</th>
                                     <th>Tên loại</th>
                                     <th>Tên hãng</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {{#each detail}}
                                            <tr>
                                                <td>
                                                    <img src="{{'product.images.image_link'}}" alt="">
                                                </td>
                                                <td >
                                                    {{'product.product_name'}}
                                                </td>
                                                <td>
                                                    {{'product.category.category_name'}}
                                                </td>
                                                <td >
                                                   {{'product.brand.brand_name'}}
                                                </td>
                                                <td>
                                                    {{'product.price'}}
                                                </td>
                                                <td>
                                                    {{quantity}}
                                                </td>
                                            </tr>
                                    {{/each}}
                            
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
   
