<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/admin"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/admin/accountList" class="active-menu"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản</a>
            </li>

    </div>
</nav>

<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Danh sách tài khoản
            <!-- <small>This is your UI elements section</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Danh sách tài khoản </a></li>
            <li class="active">Dữ liệu</li>
        </ol>

    </div>
    <div id="page-inner">

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>{{sumary.a}}</h3>
                                <small>Tổng số tài khoản</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>{{sumary.c}}</h3>
                                <small>Số tài khoản có thể hoạt động</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>{{sumary.b}}</h3>
                                <small>Số tài khoản đang bị khóa</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Danh sách
                        </div>

                        <div class="panel-body">
                            {{#each account}}
                                {{#if this.is_blocked}}
                                    <div class="alert alert-danger">
                                        <div class="DSTK">
                                            <span class="space" style="display:block; margin-bottom:10px;">Loại tài khoản: <strong>{{this.user_role}}</strong></span>
                                            <span style="display:block; margin-bottom:10px;">Email: <strong>{{this.email}}</strong></span>
                                            <div class="btnDSTK">
                                                <button data-id="{{user_id}}"  data-toggle="modal" data-target="#delete-form">xóa</button>
                                                <!-- <button>khóa</button> -->
                                                <button data-id="{{user_id}}"  data-toggle="modal" data-target="#unlock-form">mở</button>
                                            </div>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="alert alert-success">
                                        <div class="DSTK">
                                            <span class="space" style="display:block; margin-bottom:10px;">Loại tài khoản: <strong>{{this.user_role}}</strong></span>
                                            <span style="display:block; margin-bottom:10px;">Email: <strong>{{this.email}}</strong></span>
                                            <div class="btnDSTK">
                                                <button data-id="{{user_id}}"  data-toggle="modal" data-target="#delete-form">xóa</button>
                                                <button data-id="{{user_id}}"  data-toggle="modal" data-target="#lock-form">khóa</button>
                                                {{!-- <button>mở</button> --}}
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/each}}
                            
                            
                            
                        </div>

                        <ul class="pagination pl-5">
                                {{#if first}}
                                <li class="page-item {{first.state}}"><a class="page-link" href="/admin/accountList?page={{first.page}}">First</a></li>
                                {{/if}}

                                {{#each page}}
                                {{#if this.active}}
                                <li class="page-item active"><a class="page-link px-4" href="/admin/accountList?page={{this.num}}">{{this.num}}</a></li>
                                {{else}}
                                <li class="page-item"><a class="page-link px-3" href="/admin/accountList?page={{this.num}}">{{this.num}}</a></li>
                                {{/if}}
                                {{/each}}

                                {{#if last}}
                                <li class="page-item {{last.state}}"><a class="page-link" href="/admin/accountList?page={{last.page}}">Last</a></li>
                                {{/if}}
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id = "delete-form" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Xóa tài khoản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <p>Bạn có chắc chắn <b>xóa</b> tài khoản này không? Mọi thông tin về tài khoản này sẽ bị xóa vĩnh viễn trên hệ thống Avengers</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete-confirm">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id = "unlock-form" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Xóa tài khoản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <p>Bạn có chắc chắn <b>mở khóa</b> tài khoản này không? Tài khoản này sẽ được hoạt động trở lại trên hệ thống Avengers</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-success" id="unlock-confirm">Mở khóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id = "lock-form" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Khóa tài khoản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <p>Bạn có chắc chắn muốn <b>khóa</b> tài khoản này không? Mọi hoạt động của tài khoản này sẽ bị chặn trên hệ thống Avengers</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="lock-confirm">Khóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        </div>
    </div>
    </div>
</div>

<form action="#" method="post" id="deleteForm"></form>
<form action="#" method="post" id="lockForm"></form>
<form action="#" method="post" id="unlockForm"></form>

<script>
    document.addEventListener('DOMContentLoaded', ()=>{
	$(document).ready(function(){

	  $('#delete-form').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget)
		var _id = button.data('id')
		$('#deleteForm').attr('action',`/admin/accountList/delete/${_id}`);
	  })

	  $('#delete-confirm').on('click', ()=>{
		$('#deleteForm').submit();
	  })

      //lock
	  $('#lock-form').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget)
		var _id = button.data('id')
		$('#lockForm').attr('action',`/admin/accountList/lock/${_id}`);
	  })

	  $('#lock-confirm').on('click', ()=>{
		$('#lockForm').submit();
	  })

      //unlock
	  $('#unlock-form').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget)
		var _id = button.data('id')
		$('#unlockForm').attr('action',`/admin/accountList/unlock/${_id}`);
	  })

	  $('#unlock-confirm').on('click', ()=>{
		$('#unlockForm').submit();
	  })

	})});
</script>
