<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">

                        <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main"
                            method="GET" action="/seller/products">
                            <div class="form-group mb-0">
                                <div class="input-group input-group-alternative input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Tìm kiếm" type="text" name="key"
                                        value="{{search_name}}">
                                </div>
                            </div>
                            <button type="summit" class="close" aria-label="Close" value="summit">
                                <span aria-hidden="true">×</span>
                            </button>
                        </form>
                    </nav>

                </div>

                <div class="col-lg-6 col-5 text-right">
                    <a href="/seller/products/add" class="btn btn-md btn-neutral">Thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class=" col ">
            <div class="card">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Sản phẩm</h3>
                </div>
                <div class="card-body">
                    <div class="container">

                        <div class="row icon-examples product-tittle">
                            {{#if products}}
                            <div class="col-1">
                            </div>
                            <div class="col-4">
                                <h5> Tên sản phẩm</h5>
                            </div>
                            <div class="col-2">
                                <h5> Hãng</h5>
                            </div>
                            <div class="col-2">
                                <h5>Loại</h5>
                            </div>
                            <div class="col-2">
                                <h5>Giá</h5>
                            </div>
                            <div class="col-1">

                            </div>
                        </div>
                    </div>

                    <div class="row icon-examples">
                        {{#each products}}
                        <div class="col-lg-12">

                            <button type="button" class="btn-icon-clipboard" data-clipboard-text="active-40">
                                <div class="row">
                                    <div class="col-1 product-if">
                                        <img src="{{'images.image_link'}}" alt="">
                                    </div>
                                    <div class="col-4">
                                        <h5>{{product_name}}</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5> {{'brand.brand_name'}}</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>{{'category.category_name'}}</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>{{price }}</h5>
                                    </div>
                                    <div class="col-1 p-btn">
                                        <div class="row">
                                            <div class="col-6" style="margin-top:2px">
                                                {{!-- <form action="/seller/products/delete" method="POST" id="delete-form"> --}}
                                                    {{!-- <input type="hidden" name="id" value="{{product_id}}"> --}}
                                                    <span class="" data-id="{{product_id}}"  data-toggle="modal" data-target="#delete-form"><i class="fas fa-trash"></i></span> 
                                                       
                                                            
                                                {{!-- </form> --}}
                                            </div>
                                            <div class="col-6">
                                                <a href="/seller/products/edit/{{product_id}}"><i
                                                        class="fas fa-edit"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        {{/each}}

                    </div>
                    {{#if search_name}}
                    <div>
                        <ul class="pagination modal-1" style="margin-left:45%">
                            <li><a {{#if prev}}href="/seller/products?key={{search_name}}&page={{prev}}" class="prev"{{/if}}>&laquo;</a></li>
                            {{#pages pages page search_name }}

                            <li ><a href="/seller/products?key={{search_name}}&page={{index}}" class ="{{active}}">{{index}}</a></li>
                            {{/pages}}

                            <li class ="{{active}}"><a {{#if next}}href="/seller/products?key={{search_name}}&page={{next}}"{{/if}} class="next">&raquo;</a></li>
                        </ul>
                    </div>
                    {{else}}
                    <div>
                        <ul class="pagination modal-1" style="margin-left:45%">
                            <li><a {{#if prev}}href="/seller/products?page={{prev}}"{{/if}} class="prev">&laquo;</a></li>
                            {{#pages pages page search_name }}

                            <li ><a href="/seller/products?page={{index}}" class ="{{active}}">{{index}}</a></li>
                            {{/pages}}

                            <li class ="{{active}}"><a{{#if next}} href="/seller/products?page={{next}}" class="next"{{/if}}>&raquo;</a></li>
                        </ul>
                    </div>
                    {{/if}}
                </div>
                {{else}}
                <h1>Danh sách sản phẩm trống!</h1>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id = "delete-form" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xóa khỏi cửa hàng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Khách hàng sẽ không thể xem hoặc mua sản phẩm này từ cửa hàng của bạn nữa<br>Bạn có chắc chắn muốn xóa sản phẩm khỏi cửa hàng không? </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="delete-confirm">Xóa</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          </div>
        </div>
      </div>
    </div>

    <form action="#" method="post" id="deleteForm"></form>

    <script>
    document.addEventListener('DOMContentLoaded', ()=>{
	$(document).ready(function(){

	  $('#delete-form').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget)
		var _id = button.data('id')
		$('#deleteForm').attr('action',`/seller/products/delete/${_id}`);


	  })

	  $('#delete-confirm').on('click', ()=>{
		$('#deleteForm').submit();
	  })

	})});
    </script>
