    <div class="container profile">
        <div class="row">
        <div class="col-4">
            <img src= {{infoUser.avatar}} alt="">
        </div>
        <div class="col-8">
            <h4>Thông tin cá nhân</h4>
            <div class="row">
                <div class="col-4 if_tittle">
                Tên tài khoản: 
                </div>
                <div class="col-8 if">
                {{infoUser.lastname}} {{infoUser.firstname}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 if_tittle">
                Địa chỉ: 
                </div>
                <div class="col-8 if">
                    {{infoUser.address}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 if_tittle">
                Số điện thoại:
                </div>
                <div class="col-8 if">
                {{infoUser.phone}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 if_tittle">
                    Email: 
                </div>
                <div class="col-8 if">
                    {{infoUser.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 if_tittle">
                    Thành viên: 
                </div>
                <div class="col-8 if">
                    Mới
                </div>
            </div>
        </div>
    </div>

    </div>