<!-- Breadcrumb Section Begin -->
<!-- data-setbg la gi-->
    <section class="breadcrumb-section set-bg" data-setbg="/userRole/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Shopping Cart</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <form id="update-form" action="/cart/update" method="post">
                                    {{#each products}}
                                            <tr>
                                                <td class="shoping__cart__item">
                                                <a href="/products/detail/{{product_id}}">
                                                    <img src="{{image_link}}" alt="" width="100px" height="100px">
                                                    <h5>{{product_name}}</h5>
                                                </a>
                                                </td>
                                                <td class="shoping__cart__price">
                                                    {{price}}
                                                </td>
                                                <td class="shoping__cart__quantity">
                                                    <div class="quantity">
                                                        <div class="pro-qty">
                                                            <input type="text" name = "quantity" value="{{quantity}}">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="shoping__cart__total">
                                                    {{total}}
                                                </td>
                                                <td class="shoping__cart__item__close">
                                                    <span class="icon_close" data-id="{{product_id}}"  data-toggle="modal" data-target="#delete-form"></span>
                                                </td>
                                            </tr>
                                    {{/each}}
                                </form>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="/products/list" class="primary-btn">CONTINUE SHOPPING</a>
                        <a id="update-btn" href="#" class="primary-btn cart-btn-right" style="margin-left: 600px">
                            update Cart</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal <span>{{#if total}}
                                {{total}} vnđ
                            {{/if}}</span></li>
                            <li>Total <span>{{#if total}}
                                {{total}} vnđ
                            {{/if}}</span></li>
                        </ul>
                        <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->


    <div class="modal fade" id = "delete-form" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xóa khỏi giỏ hàng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Bạn có chắc chắn xóa sản phẩm khỏi giỏ hàng không?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="delete-confirm">Remove</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <form action="#" method="post" id="deleteForm"></form>
